@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap");
* {
  font-family: "Kanit", sans-serif;
}

body > #root > div {
  height: 100%;
}

.facebook-btn {
  background: #0058fa;
  background: -webkit-linear-gradient(to right, #0058fa 0%, #00a6f9 100%);
  background: -moz-linear-gradient(to right, #0058fa 0%, #00a6f9 100%);
  background: linear-gradient(to right, #0058fa 0%, #00a6f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.facebook-bg {
  background: #415dae;
}

.google-bg {
  background: #cb4023;
}

::-webkit-scrollbar {
  display: block;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c6cd;
  border-radius: 10px;
}

.profile-shadow {
  box-shadow: rgb(88 102 126 / 8%) 0px 4px 24px,
    rgb(88 102 126 / 12%) 0px 1px 2px;
  border-radius: 8px;
}

.home-padding {
  padding-top: 3rem !important;
}

.navbar-warpper {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-warpper-teacher {
  padding-left: 1rem;
  padding-right: 1rem;
}

.w-login-register {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 640px) {
}

@media screen and (min-width: 740px) {
  .navbar-warpper {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .navbar-warpper-teacher {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .home-padding {
    padding-top: 5rem !important;
  }
  .w-login-register {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-warpper {
    padding-left: 16rem;
    padding-right: 16rem;
  }
  .navbar-warpper-teacher {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .w-login-register {
    padding-left: 18rem;
    padding-right: 18rem;
  }
}

@media screen and (min-width: 1100px) {
  .navbar-warpper {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  /* .navbar-warpper-teacher {
    padding-left: 10rem;
    padding-right: 10rem;
  } */
}

@media screen and (min-width: 1270px) {
  .navbar-warpper-teacher {
    padding-left: 17rem;
    padding-right: 17rem;
  }
}


.example-enter {
  animation: flasher 1s;
}

@keyframes flasher {
  from {
    transform: translate(-200px, 0px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

a {
    color: !important;
    text-decoration: underline;
}